.checkout_items {
  margin-top: 89px;
  margin-bottom: 93px;
}

.checkout-details {
  border-bottom: 1px solid #e8e8e8;
  padding: 20px 0;
  cursor: pointer;
  .checkout-summary {
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    color: #222222;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
  }
  .checkout-summary:before {
    content: '';
  }
  .checkout-content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 39px 166px 79px 35px;
    .form-item-title {
      color: #222222;
      font-family: Lato, sans-serif;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-transform: uppercase;
    }
    .form-item-desc {
      margin-top: 15px;
      color: #b3b2b2;
      font-family: Lato, sans-serif;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
    }

    .left-side-form {
      width: 30%;
      display: flex;
      flex-direction: column;
      .radio-group {
        margin-top: 34px;
        display: flex;
        flex-direction: column;

        .radio-item {
          margin-bottom: 20px;
          display: flex;
          align-items: center;
        }
        .radio-item:last-of-type {
          margin-bottom: 0;
        }
        .radio-text {
          margin-left: 14px;
          color: #222222;
          font-family: Lato, sans-serif;
          font-size: 12px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-align: right;
          text-transform: uppercase;
        }
      }
      .register-block {
        display: flex;
        margin-top: 33px;
        flex-direction: column;
        justify-content: flex-start;

        .register-option {
          margin-top: 15px;
          display: flex;
          align-items: center;
          .fa {
            margin-right: 4px;
            color: #b3b2b2;
            font-size: 13px;
          }
          .form-item-desc {
            margin-top: 0;
          }
          &__first {
            margin-top: 33px;
          }
        }

      }
      .card-button {
        margin-top: 38px;
        padding: 0;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1);
        text-decoration: none;
      }
    }
    .right-side-form {
      width: 30%;
      display: flex;
      flex-direction: column;
      .form-item-title {

        &__margin {
          margin-top: 27px;
        }

      }
      .required {
        color: #ff0d0d;
        font-family: Lato, sans-serif;
        font-size: 17px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
      }

      p.required {
        margin-top: 22px;
      }
      .state {
        width: 100%;
      }
      .login-action {
        margin-top: 32px;
        display: flex;
        align-items: center;
        .card-button {
          transform: scale(1);
          margin-right: 32px;
        }
        .forgot {
          text-decoration: none;
          color: #222222;
          font-family: Lato, sans-serif;
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: 20px;
        }
        .forgot:hover {
          color: #f16d7f;
        }
      }
    }

  }
}

