.shopping-card {
  margin-top: 70px;
}

.card-table {
  display: flex;
  flex-direction: column;
}

.card-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  padding: 20px 0;

  .head-text {
    color: #222222;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;

    &__large {
      width: 40%;
    }

    &_first {
      text-align: left;
    }
  }
}

.card-items {
  display: flex;
  flex-direction: column;

  .card-item {
    padding: 20px 0;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;

    &__large {
      width: 40%;
    }

    .product-details {
      display: flex;

      .item-link {
        display: block;
        text-decoration: none;

        .item_image {
          display: block;
          margin-right: 21px;
        }

        .item_image:hover {
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          background-color: #ffffff;
          transform: scale(1.1);
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .title {
          color: #222222;
          font-family: Lato, sans-serif;
          font-size: 13px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-align: left;
          text-transform: uppercase;
        }

        .options {
          display: flex;
          flex-direction: column;

          .option {
            display: flex;
            color: #6f6e6e;
            font-size: 13px;

            font-style: normal;
            letter-spacing: normal;
            line-height: 20px;
            text-align: left;

            .option-title {
              margin-right: 10px;
              font-weight: bold;
              font-family: Lato, sans-serif;
              display: block;
            }

            .option-value {
              display: block;
              font-family: "Lato - Light", sans-serif;
              font-weight: 300;
              font-style: normal;
              letter-spacing: normal;
            }
          }
        }
      }
    }

  }
}

.unite-price, .quantity, .shipping, .action {
  width: 3%;
  align-self: center;
  cursor: default;
}

.action {
  cursor: pointer;
}

.action:hover {
  color: #f16d7f;
}

.unite-price {
  color: #656565;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
}

.quantity {
  display: flex;
  justify-content: center;

  .quantity-val {
    width: 54px;
    height: 30px;
    display: block;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #656565;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
  }

  .quantity-val:hover {

  }
}

.shipping, .action {
  color: #656565;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.card-buttons {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

.card-button {
  cursor: pointer;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 20px 39px;
  color: #4a4a4a;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
}

.card-button:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
  transform: scale(1.1);
}

.checkout {
  margin-top: 63px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.checkout-sections {
  width: 30%;
  display: flex;
  flex-direction: column;

  &_colorized {
    background-color: #f5f3f3;
  }

  &__heighten {
    height: 214px;
    box-sizing: border-box;
    padding: 40px 42px;
  }
}

.apply-button {
  cursor: pointer;
  height: 35px;
  width: fit-content;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: 23px;
  color: #4a4a4a;
  font-family: Lato, sans-serif;
  font-size: 11px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 15px;
}

.checkout-heads {
  color: #222222;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.sett_sel_opt {
  height: 45px;
  margin-top: 22px;
  width: 100%;
}

.state, .postcode {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.state::placeholder, .postcode::placeholder {
  padding-left: 17px;
  color: #b1b1b1;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.coupon-text {
  margin-top: 28px;
  color: #000000;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.total-sum {
  display: flex;
  justify-content: flex-end;
  .total-text {
    margin-right: 20px;
    color: #4a4a4a;
    font-family: Lato, sans-serif;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
  }
  .total-text:last-of-type {
    margin-right: 0;
  }
}

.grand-total {
  margin-top: 14px;
  display: flex;
  justify-content: flex-end;
  &__margin{
    display: block;
    margin-left: 20px;
  }
  &_colorized {
    color: #f16d7f;
  }
}

.total-divider {
  margin-top: 20px;
  border: 1px solid #ebebeb;
}

.proceed-button {
  cursor: pointer;
  margin-top: 20px;
  background-color: #f16d7f;
  height: 50px;
  color: #ffffff;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.proceed-button:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
  background-color: #fff;
  transform: scale(1.1);
}