* {
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.top {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top .top_items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.top .top_items .top_left_items {
  display: flex;
}
.top .top_items .top_left_items .top_logo {
  display: flex;
  align-items: center;
  width: 165px;
  justify-content: space-between;
}
.top .top_items .top_left_items .top_logo .top_logo_head {
  color: #222222;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  line-height: 32px;
  font-family: "Lato - Light", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.68px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.top .top_items .top_left_items .top_logo .top_logo_head .top_logo_icon {
  margin-right: 13px;
}
.top .top_items .top_left_items .top_logo .top_logo_head .logo_head_letter {
  color: #f16d7f;
  font-family: "Lato - Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.68px;
  line-height: normal;
}
.top .top_items .top_left_items .top_search {
  display: flex;
  align-items: center;
}
.top .top_items .top_left_items .top_search .top_browse_button {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 37px;
  width: 87px;
  height: 38px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}
.top .top_items .top_left_items .top_search .top_browse_button .top_search_browse_head {
  padding-left: 15px;
  color: #222222;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: right;
}
.top .top_items .top_left_items .top_search .top_browse_button .browse_down {
  margin-left: 8px;
  padding-right: 9px;
  color: #838383;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
}
.top .top_items .top_left_items .top_search .top_search_form {
  display: flex;
  align-items: center;
}
.top .top_items .top_left_items .top_search .top_search_form .top_search_input {
  width: 279px;
  height: 38px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
}
.top .top_items .top_left_items .top_search .top_search_form .top_search_input::placeholder {
  color: #a4a4a4;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  padding-left: 16px;
}
.top .top_items .top_left_items .top_search .top_search_form .top_search_button {
  cursor: pointer;
  width: 38px;
  height: 40px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 0 3px 3px 0;
}
.top .top_items .top_left_items .top_search .top_search_form .top_search_button .search_button_icon {
  width: 14px;
  height: 14px;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}
.top .top_items .top_right_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top .top_items .top_right_items .top_basket {
  cursor: pointer;
  width: 32px;
  height: 29px;
}
.top .top_items .top_right_items .top_my_account {
  cursor: pointer;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 37px;
  border: 1px solid transparent;
}
.top .top_items .top_right_items .top_my_account .top_myaccount_head {
  color: #ffffff;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
}
.top .top_items .top_right_items .top_my_account .myaccount_down {
  margin-left: 8px;
  color: white;
}
.top .top_items .top_right_items .top_my_account:hover {
  background-color: white;
  border: 1px solid #f16d7f;
}
.top .top_items .top_right_items .top_my_account:hover .top_myaccount_head {
  color: #f16d7f;
}
.top .top_items .top_right_items .top_my_account:hover .myaccount_down {
  color: #f16d7f;
}

.top_menu {
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_menu .top_nav_menu {
  min-width: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_menu .top_nav_menu .top_menu_list {
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.top_menu .top_nav_menu .nav_item .nav_item_link {
  display: block;
  padding: 16px 16px;
  text-decoration: none;
  color: #222222;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
}

.top_big_head {
  margin: 0 auto;
  height: 614px;
  background-color: #e8e8e8;
}
.top_big_head .logo_block {
  width: 100%;
  height: 100%;
  background: url("../images/top_head_back.png") no-repeat left 235px bottom 0;
}
.top_big_head .logo_block .top_big_head_heading {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.top_big_head .logo_block .top_big_head_heading .top_big_head_divider {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
}
.top_big_head .logo_block .top_big_head_heading .top_big_head_text {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  font-family: "Lato - Black", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
}
.top_big_head .logo_block .top_big_head_heading .top_big_head_text .top_big_head_text_line1 {
  font-size: 60px;
  letter-spacing: 1.5px;
}
.top_big_head .logo_block .top_big_head_heading .top_big_head_text .top_big_head_text_line2 {
  letter-spacing: 1px;
}
.top_big_head .logo_block .top_big_head_heading .top_big_head_text .top_big_head_text_line2 .logo_fashion_text {
  color: #f16d7f;
  letter-spacing: 1px;
}

.deals {
  margin-top: 98px;
  height: 802px;
  display: flex;
  justify-content: space-between;
}
.deals .deals_left {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.deals .deals_left .deals_left_top {
  position: relative;
}
.deals .deals_left .deals_left_top .deals_left_top_head {
  width: 175px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.deals .deals_left .deals_left_bottom {
  background-color: #dadad2;
  margin-top: 20px;
  position: relative;
}
.deals .deals_left .deals_left_bottom .deals_left_bottom_image {
  padding-left: 149px;
  padding-bottom: 17px;
}
.deals .deals_left .deals_left_bottom .deals_left_bottom_head {
  width: 235px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.deals .deals_right {
  width: 560px;
  display: flex;
  flex-direction: column;
}
.deals .deals_right .deals_right_top {
  position: relative;
}
.deals .deals_right .deals_right_top .deals_right_top_head {
  position: absolute;
  top: 20px;
  width: 162px;
  height: 82px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.deals .deals_right .deals_right_bottom {
  position: relative;
  margin-top: 19px;
}
.deals .deals_right .deals_right_bottom .deals_right_bottom_head {
  position: absolute;
  top: 40px;
  width: 180px;
  height: 82px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.deals .deals_images_head_line1 {
  padding-left: 19px;
  color: #222222;
  font-family: "Lato - Black", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}
.deals .deals_images_head_line2 {
  padding-left: 19px;
  color: #f16d7f;
  font-family: "Lato - Black", sans-serif;
  font-size: 30px;
  font-style: normal;
  letter-spacing: 0.75px;
  line-height: normal;
  text-transform: uppercase;
}

.featured {
  margin-top: 100px;
}

/*# sourceMappingURL=styles.css.map */
