$width: 1140px;


* {
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  width: $width;
  margin: 0 auto;
}

.menu_element {
  cursor: default;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 19px;
  padding-left: 15px;
  padding-right: 15px;
  .menu_item_head {

    display: block;
    width: 236px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 16px;
    color: #232323;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
  }

  .menu_element_link {
    text-decoration: none;

    color: #4f4f4f;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0.35px;
  }

  .menu_element_link:hover {
    color: #f16d7f;
  }
}
.menu_element:last-of-type{
  padding-bottom: 16px;
}
.menu_arrow {
  z-index: 1;
  cursor: default;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  position: absolute;
  left: 66px;
  top: 25px;
  width: 14px;
  height: 14px;
  background-color: white;
  transform: rotate(45deg);
}
.top_logo {
  display: flex;
  align-items: center;
  width: 165px;
  justify-content: space-between;

  .top_logo_head {
    color: #222222;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    line-height: 32px;
    font-family: "Lato - Light", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.68px;
    text-decoration: none;
    display: flex;
    align-items: center;

    .top_logo_icon {
      margin-right: 13px;
    }

    .logo_head_letter {
      color: #f16d7f;
      font-family: "Lato - Black", sans-serif;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.68px;
      line-height: normal;
    }
  }

}
.top {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  .top_items {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .top_left_items {
      display: flex;



      .top_search {
        display: flex;
        align-items: center;
        position: relative;

        .top_browse_button {
          position: relative;
          cursor: pointer;
          display: flex;
          align-items: center;
          margin-left: 37px;
          width: 87px;
          height: 38px;
          border-radius: 3px 0 0 3px;
          border: 1px solid #e6e6e6;
          background-color: #cdcdcc;
          background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);

          .top_search_browse_head {
            user-select: none;
            display: block;
            color: #222222;
            font-family: Lato, sans-serif;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: 32px;
            text-align: center;
            margin-top: 2px;

            .fa-caret-down {
              margin-left: 8px;
              color: #838383;
            }
          }

          .top_search_browse_head:before{
            content: '';
          }

          .browse_list {
            z-index: 1;
            border: 1px solid #e6e6e6;
            border-radius: 5px;
            background-color: #ffffff;
            position: absolute;
            display: flex;
            flex-direction: column;

          }
        }

        .top_browse_button:hover .top_search_browse_head {
          color: #f16d7f;
        }

        .top_browse_button:hover .fa-caret-down {
          color: #f16d7f;
        }

        .top_search_form {
          display: flex;
          align-items: center;

          .top_search_input {
            width: 279px;
            height: 38px;
            border: 1px solid #e6e6e6;
            background-color: #ffffff;
            padding-left: 16px;
          }

          .top_search_input::placeholder {
            color: #a4a4a4;
            font-family: Lato, sans-serif;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: 32px;
          }

          .top_search_button {
            cursor: pointer;
            width: 38px;
            height: 40px;
            background-color: white;
            border: 1px solid #e6e6e6;
            border-left: 0;
            border-radius: 0 3px 3px 0;

            .fa-magnifying-glass {
              width: 14px;
              height: 14px;
              color: #a4a4a4;
            }
          }

          .top_search_button:hover .fa-magnifying-glass{
            color: #f16d7f;
          }
        }

      }
    }

    .top_right_items {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .top_basket {
        cursor: pointer;
        width: 32px;
        height: 29px;
      }

      .top_my_account {
        cursor: pointer;
        width: 130px;
        height: 38px;
        background-color: #f16d7f;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 37px;
        border: 1px solid transparent;

        .top_myaccount_head {
          color: #ffffff;
          font-family: Lato, sans-serif;
          font-size: 15px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: 32px;
        }

        .myaccount_down {
          margin-left: 8px;
          color: white;
        }
      }

      .top_my_account:hover {
        background-color: white;
        border: 1px solid #f16d7f;
      }

      .top_my_account:hover .top_myaccount_head {
        color: #f16d7f;
      }

      .top_my_account:hover .myaccount_down {
        color: #f16d7f;
      }
    }
  }
}

.top_menu {
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;

  .top_menu_list {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .nav_item {
    position: relative;
    .main_nav_box {
      z-index: 1;
      display: none;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      background-color: #ffffff;
      flex-direction: row;
      position: absolute;
      top: 45px;
    }

    .main_nav_box .menu_arrow {
      top: -8px;
      left: 25px;
    }

    .main_nav_box .menu_element {
      margin-right: 46px;
    }
    .main_nav_box .menu_element:last-of-type {
      margin-right: 0;
    }
    .nav_item_link {
      display: block;
      padding: 16px 16px;
      text-decoration: none;
      color: #222222;
      font-family: Lato, sans-serif;
      font-size: 14px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 26px;
      text-align: left;
      text-transform: uppercase;
    }

  }

  .nav_item:hover .main_nav_box {
    display: flex;
  }
  .nav_item:hover .nav_item_link {
    color: #f16d7f;
  }


  .last_nav:hover .main_nav_box {
    right: 0;
    left: auto;
  }
  .last_nav:hover .main_nav_box .menu_arrow {
    right: 25px;
    left: auto;
  }
}

.top_big_head {
  margin: 0 auto;
  height: 614px;

  background-color: #e8e8e8;

  .logo_block {
    width: 100%;
    height: 100%;
    background: url("../images/top_head_back.png") no-repeat left 235px bottom 0;

    .top_big_head_heading {
      height: 100%;
      display: flex;
      justify-content: left;
      align-items: center;

      .top_big_head_divider {
        width: 12px;
        height: 92px;
        background-color: #f16d7f;
      }

      .top_big_head_text {
        display: flex;
        flex-direction: column;
        margin-left: 12px;

        font-family: "Lato - Black", sans-serif;
        font-size: 40px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-transform: uppercase;

        .top_big_head_text_line1 {
          font-size: 60px;
          letter-spacing: 1.5px;
        }

        .top_big_head_text_line2 {
          letter-spacing: 1px;

          .logo_fashion_text {
            color: #f16d7f;
            letter-spacing: 1px;
          }
        }
      }
    }
  }

}

.deals {
  margin-top: 98px;
  height: 802px;
  display: flex;
  justify-content: space-between;

  .deal_link {
    display: block;
  }
  .deals_left {
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .deals_left_top {
      position: relative;

      .deals_left_top_head {
        width: 175px;
        height: 82px;
        background-color: #ffffff;
        position: absolute;
        top: 26px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

      }
    }

    .deals_left_bottom {
      background-color: #dadad2;
      margin-top: 20px;
      position: relative;

      .deals_left_bottom_image {
        padding-left: 149px;
        padding-bottom: 17px;
      }

      .deals_left_bottom_head {
        width: 235px;
        height: 82px;
        background-color: #ffffff;
        position: absolute;
        top: 26px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }

  .deals_right {
    width: 560px;
    display: flex;
    flex-direction: column;

    .deals_right_top {
      position: relative;

      .deals_right_top_head {
        position: absolute;
        top: 20px;
        width: 162px;
        height: 82px;
        background-color: #ffffff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }

    .deals_right_bottom {
      position: relative;
      margin-top: 19px;

      .deals_right_bottom_head {
        position: absolute;
        top: 40px;
        width: 180px;
        height: 82px;
        background-color: #ffffff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }


  }

  .deals_images_head_line1 {
    padding-left: 19px;
    color: #222222;
    font-family: "Lato - Black", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
  }

  .deals_images_head_line2 {
    padding-left: 19px;
    color: #f16d7f;
    font-family: "Lato - Black", sans-serif;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: normal;
    text-transform: uppercase;
  }
}

.featured {
  margin-top: 100px;

  .featured_header {
    text-align: center;
    margin-bottom: 20px;
    .featured_head {
      color: #222222;
      font-family: Lato, sans-serif;
      font-size: 30px;
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.75px;
    }

    .featured_desc {
      padding-top: 5px;
      color: #9f9f9f;
      font-family: Lato, sans-serif;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.35px;
    }
  }

  .featured_items {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    .featured_item {
      width: 261px;
      position: relative;
      margin-top: 39px;
      display: flex;
      justify-content: center;
      .featured_item_link {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-decoration: none;

        .feature_img {
          width: 100%;
        }

        .feature_title_price {
          box-sizing: border-box;
          padding-left: 14px;
          padding-top: 20px;
          padding-bottom: 21px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .feature_title {
            color: #222222;
            font-family: Lato, sans-serif;
            font-size: 13px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-transform: uppercase;
            word-wrap: break-word;
          }

          .feature_price {
            padding-top: 17px;
            color: #f16d7f;
            font-family: Lato, sans-serif;
            font-size: 16px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-transform: uppercase;
          }
        }

      }
      .add_block {
        position: absolute;
        top: 100px;
        display: flex;
        justify-content: center;

        .add_button {
          display: none;
          padding: 10px 12px;
          text-decoration: none;
          align-items: center;
          border: 1px solid #ffffff;

          .fa-basket-shopping {
            color: #ffffff;
            margin-right: 8px;
          }

          .add_text {
            color: #ffffff;
            font-family: Lato, sans-serif;
            font-size: 13px;
            font-weight: 700;
          }
        }

        .add_button:hover {
          border: 1px solid #f16d7f;

          .fa-basket-shopping, .add_text {
            color: #f16d7f;
          }
        }
      }
    }



    .featured_item:hover {
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
    }

    .featured_item:hover .feature_img{
      filter: brightness(40%);
    }
    .featured_item:hover .add_button{
      display: flex;
    }
  }

  .browse_all {
    margin-top: 80px;
    margin-bottom: 113px;
    display: flex;
    justify-content: center;
    align-items: center;

    .browse_all_button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 212px;
      height: 48px;
      background-color: #f16d7f;
      border: 1px solid transparent;
      color: #ffffff;
      font-family: Lato, sans-serif;
      font-size: 16px;
      font-weight: 350;
      font-style: normal;
      letter-spacing: 0.4px;
      line-height: normal;
      text-align: center;

      .fa-arrow-right-long {
        margin-left: 9px;
      }
    }

    .browse_all_button:hover {
      cursor: pointer;
      background-color: #ffffff;
      color: #f16d7f;
      border: 1px solid #f16d7f;
    }
  }
}

.offer_link {
  text-decoration: none;
}
.main_offer {
  background-color: #222224;
  margin-bottom: 97px;
  display: flex;
  height: 529px;
  .offer {
    position: relative;
    width: 767px;
    height: 100%;
    background-image: url("../images/woman_offer.png");
    .offer_text {
      position: absolute;
      top: 146px;
      left: 39px;

      .offer_text_line1 {
        color: #ffffff;
        font-family: Lato, sans-serif;
        font-size: 54px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-transform: uppercase;

        .pink_offer_text {
          color: #f16d7f;
        }
      }

      .offer_text_line2 {
        color: #ffffff;
        font-family: Lato, sans-serif;
        font-size: 32px;
        font-style: normal;
        letter-spacing: 0.9px;
        line-height: normal;
      }
    }
  }

  .figures {
    width: 373px;
    height: 100%;


    .offer_figure {
      display: flex;
      padding-top: 62px;
      padding-left: 32px;

      .desc_img {
        width: auto;
        height: auto;
      }
      .delivery {
        margin-left: 30px;
      }
      .discount {
        margin-left: 35px;
      }
      .quality {
        margin-left: 32px;
      }
      .desc_heading {

        .desc_head {
          color: #fbfbfb;
          font-family: Lato, sans-serif;
          font-size: 20px;
          font-weight: 700;
          font-style: normal;
          line-height: normal;
          text-align: left;
          letter-spacing: 0.5px;
        }
        .desc_text {
          margin-top: 15px;
          word-break: break-all;
          width: 219px;
          color: #fbfbfb;
          font-family: Lato, sans-serif;
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          line-height: 24px;
          text-align: left;
          letter-spacing: 0.35px;
        }
      }
    }
    .offer_figure:first-of-type{
      padding-top: 55px;
    }
  }

}

.footer_top_big {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  .footer_top {
    height: 100%;
    width: 100%;
    background-image: url("../images/footer_top_background.png");
    background-repeat: no-repeat;
    background-position: center;

    .footer_top_items {
      width: 100%;
      height: 438px;
      display: flex;

      .footer_review {
        display: flex;
        justify-content: left;
        box-sizing: border-box;
        width: 50%;
        height: 100%;
        padding-top: 111px;

        .review_image {

        }

        .review_desc {
          margin-left: 28px;
          .review_text {
            width: 386px;
            color: #222224;
            font-family: Lato, sans-serif;
            font-size: 16px;
            font-style: italic;
            line-height: 26px;
            text-align: left;
            letter-spacing: 0.4px;
          }
          .reviewer_name {
            width: 100px;
            height: 27px;
            margin-top: 19px;
            color: #222224;
            font-family: "Lato - Light", sans-serif;
            font-size: 12px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: 0.3px;
            line-height: 14px;
            .name {
              color: #f16d7f;
              font-family: "Lato - Bold", sans-serif;
              font-size: 16px;
              font-weight: 700;
              font-style: normal;
              text-align: left;
              letter-spacing: 0.4px;
              line-height: 26px;
            }
          }
          .review_slider {
            display: flex;
            margin-top: 41px;
            .testi_block {
              margin-left: 13px;
              cursor: pointer;
              border: 1px solid transparent;
              width: 38px;
              height: 4px;
              background-color: #d6d6d6;
            }

            .testi_block:hover{
              background-color: #f16d7f;
            }
            .active{
              background-color: #ffffff;
            }
          }
        }

        .grey_block {
          cursor: pointer;
          border: 1px solid transparent;
          width: 38px;
          height: 4px;
          background-color: #d6d6d6;
        }
        .pink_block {
          cursor: pointer;
          border: 1px solid transparent;
          width: 38px;
          height: 4px;
          background-color: #f16d7f;
        }
      }
      .footer_top_divider {
        width: 1px;
        height: 100%;
        background-color: #ffffff;
      }
      .footer_subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;

        color: #222224;
        font-family: Lato, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        .subscribe_title {
          font-size: 24px;
          letter-spacing: 0.6px;
          line-height: 34px;
          text-transform: uppercase;
        }
        .subscribe_text {
          font-size: 14px;
          letter-spacing: 0.35px;
          line-height: 24px;
        }

        .subscribe_form {
          display: flex;
          margin-top: 35px;
          .subscriber_email {
            box-sizing: border-box;
            padding-left: 28px;
            width: 334px;
            height: 46px;
            border: 0;
            border-radius: 23px 0 0 23px;
            background-color: #e1e1e1;
          }
          .subscriber_email::placeholder {

            opacity: 0.67;
            color: #222224;
            font-family: Lato, sans-serif;
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            line-height: 54px;
            letter-spacing: 0.35px;
          }
          .submit_subscribe{
            cursor: pointer;
            width: 104px;
            height: 46px;
            background-color: #f16d7f;
            border: 1px solid transparent;
            border-radius: 0 23px 23px 0;

            color: #ffffff;
            font-family: Lato, sans-serif;
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.35px;
          }

          .submit_subscribe:hover {
            background-color: #ffffff;
            color: #f16d7f;
            border: 1px solid #f16d7f;
          }
        }
      }
    }

  }
}

.footer_bottom {
  height: 458px;
  display: flex;
  .footer_bottom_left {
    box-sizing: border-box;
    padding-top: 109px;
    height: 100%;

    .footer_bottom_article {
      padding-top: 29px;
      width: 427px;
      display: flex;
      flex-direction: column;

      .footer_bottom_left_text {
        padding-top: 25px;

        color: #898989;
        font-family: Lato, sans-serif;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0.35px;
      }
      .footer_bottom_left_text:first-of-type {
        padding-top: 0;
      }
    }

  }

  .footer_bottom_right {
    box-sizing: border-box;
    padding-top: 123px;
    padding-left: 63px;
    flex-grow: 1;
    display: flex;

    .footer_bottom_menu_box {
      display: flex;
      flex-direction: column;

      .footer_nav_head {
        padding-bottom: 35px;
        color: #f16d7f;
        font-family: Lato, sans-serif;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 0.45px;
        line-height: normal;
      }
      .footer_nav_link {
        text-decoration: none;
        display: block;
        color: #898989;
        font-family: Lato, sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.4px;
        line-height: 42px;
      }

    }
  }
}

.copyright {
  height: 79px;
  background-color: #e6e6e6;

  .copyright_items {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright_text {
      color: #7a7a7a;
      font-family: Lato, sans-serif;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      line-height: 42px;
      letter-spacing: 0.4px;
    }

    .social_icons {
      display: flex;

      .social_item {
        text-decoration: none;
        width: 32px;
        height: 32px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        color: #b2b2b2;
      }
      .social_item:hover {
          background-color: #f16d7f;
          color: #ffffff;
        }
      .social_item:last-of-type {
        margin-right: 0;
      }

    }

  }

}


